# Pandas Tutorial
Useful for Data Processing & Analysis

**Pandas Datafram**: Pandas dataframe is a two-dimensional tabular data structure with labeled axes (rows and columns).

### Setup

In [1]:
# install the library
!pip install pandas

Requirement already satisfied: pandas in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from pandas) (1.23.3)
Requirement already satisfied: six>=1.5 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
# import the library
import pandas as pd

### Creating a Pandas dataframe

#### Importing data from library

In [5]:
# importing housing data
!pip install scikit-learn
from sklearn.datasets import fetch_california_housing

Requirement already satisfied: scikit-learn in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from scikit-learn) (1.23.3)
Requirement already satisfied: scipy>=1.3.2 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from scikit-learn) (1.9.3)

In [5]:
# importing housing data
!pip install scikit-learn
from sklearn.datasets import fetch_california_housing

Requirement already satisfied: scikit-learn in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from scikit-learn) (1.23.3)
Requirement already satisfied: scipy>=1.3.2 in /home/anarok/anaconda3/envs/machine-learning/lib/python3.10/site-packages (from scikit-learn) (1.9.3)

In [6]:
housing = fetch_california_housing()
type(housing)

sklearn.utils._bunch.Bunch

In [7]:
print(housing)

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]]), 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]), 'frame': None, 'target_names': ['MedHouseVal'], 'feature_names': ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [9]:
# Pandas Dataframw
housing_df = pd.DataFrame(housing.data, columns=housing.feature_names)

In [10]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [11]:
housing_df.shape

(20640, 8)

#### Importing data from CSV file

In [14]:
# csv file to pandas df
diabetes_df = pd.read_csv('diabetes.csv')

To read an excel file
```python
pd.read_excel('file_path')
```

In [15]:
type(diabetes_df)

pandas.core.frame.DataFrame

In [16]:
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [17]:
diabetes_df.shape

(768, 9)

### Export a DataFrame to a CSV file

In [18]:
housing_df.to_csv('housing.csv')

In [21]:
# Export to excel
!pip install openpyxl
housing_df.to_excel('housing.xlsx') # to export into excel

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 4.3 MB/s eta 0:00:00[31m4.4 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

### Create a df of random values

In [22]:
import numpy as np

random_df = pd.DataFrame(np.random.rand(20, 10))
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.922192,0.326878,0.235354,0.775583,0.252781,0.212569,0.130785,0.209498,0.557079,0.045183
1,0.350862,0.811668,0.499739,0.632910,0.613241,0.785537,0.203749,0.978417,0.661210,0.076925
2,0.485190,0.055434,0.107692,0.215491,0.644437,0.631861,0.154678,0.179345,0.132100,0.386518
3,0.192255,0.762728,0.038811,0.803187,0.880801,0.870724,0.572855,0.788823,0.911209,0.154855
4,0.403063,0.011442,0.330986,0.235430,0.678767,0.144795,0.066757,0.156425,0.120338,0.572335

In [23]:
random_df.shape

(20, 10)

### Inspecting a DataFrame

In [24]:
housing_df.shape

(20640, 8)

In [26]:
print(housing_df.head()) # First 5 records
print(housing_df.tail() )# Last 5 records

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude
0    -122.23
1    -122.22
2    -122.24
3    -122.25
4    -122.25
       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude
20635    -121.09
20636    -121.21
20637    -121.22
20638    -121.32
20639    -121.24

In [27]:
# certain informations about the DataFrame

housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [30]:
# finding number of missing values
housing_df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [31]:
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [32]:
# counting the values based on the labels

diabetes_df.value_counts('Outcome')

Outcome
0    500
1    268
dtype: int64

In [33]:
# Group the values based on the mean

diabetes_df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

### Statistical measures

In [34]:
# count or number of values in columns
housing_df.count()

MedInc        20640
HouseAge      20640
AveRooms      20640
AveBedrms     20640
Population    20640
AveOccup      20640
Latitude      20640
Longitude     20640
dtype: int64

In [35]:
# mean value column-wise
housing_df.mean()

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64

In [36]:
# standard deviation column-wise
housing_df.std()

MedInc           1.899822
HouseAge        12.585558
AveRooms         2.474173
AveBedrms        0.473911
Population    1132.462122
AveOccup        10.386050
Latitude         2.135952
Longitude        2.003532
dtype: float64

In [37]:
# minimum value 
housing_df.min()

MedInc          0.499900
HouseAge        1.000000
AveRooms        0.846154
AveBedrms       0.333333
Population      3.000000
AveOccup        0.692308
Latitude       32.540000
Longitude    -124.350000
dtype: float64

In [38]:
# maximum value
housing_df.max()

MedInc           15.000100
HouseAge         52.000000
AveRooms        141.909091
AveBedrms        34.066667
Population    35682.000000
AveOccup       1243.333333
Latitude         41.950000
Longitude      -114.310000
dtype: float64

In [39]:
# all the statistical measures about the data

housing_df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

### Manipulating a DataFrame

In [40]:
# adding a column to a dataframe

housing_df['Price'] = housing.target

In [41]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [45]:
# drop a row (axis = 0)

housing_df = housing_df.drop(index=0, axis=0)
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,2.697
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [46]:
# drop a column (axis = 1)

housing_df = housing_df.drop(columns='Population', axis=1)
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,AveOccup,Latitude,Longitude,Price
1,8.3014,21.0,6.238137,0.971880,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,2.181467,37.85,-122.25,3.422
5,4.0368,52.0,4.761658,1.103627,2.139896,37.85,-122.25,2.697
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,2.616981,39.37,-121.24,0.894

In [47]:
housing_df.shape

(20639, 8)

In [48]:
# locating a row using index value
housing_df.iloc[2]

MedInc         5.643100
HouseAge      52.000000
AveRooms       5.817352
AveBedrms      1.073059
AveOccup       2.547945
Latitude      37.850000
Longitude   -122.250000
Price          3.413000
Name: 3, dtype: float64

In [51]:
# locating a particular column
print(housing_df.iloc[:, 0], end='\n\n') # first col
print(housing_df.iloc[:, 1], end='\n\n') # second col
print(housing_df.iloc[:, -1], end='\n\n') # last col

1        8.3014
2        7.2574
3        5.6431
4        3.8462
5        4.0368
          ...
20635    1.5603
20636    2.5568
20637    1.7000
20638    1.8672
20639    2.3886
Name: MedInc, Length: 20639, dtype: float64

1        21.0
2        52.0
3        52.0
4        52.0
5        52.0
         ...
20635    25.0
20636    18.0
20637    17.0
20638    18.0
20639    16.0
Name: HouseAge, Length: 20639, dtype: float64

1        3.585
2        3.521
3        3.413
4        3.422
5        2.697
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: Price, Length: 20639, dtype: float64

### Correlation

1. Positive correlation
2. Negative correlation

In [52]:
housing_df.corr()

,MedInc,HouseAge,AveRooms,AveBedrms,AveOccup,Latitude,Longitude,Price
MedInc,1.000000,-0.119164,0.326871,-0.062031,0.018774,-0.079941,-0.015028,0.688000
HouseAge,-0.119164,1.000000,-0.153312,-0.077742,0.013194,0.011123,-0.108141,0.105536
AveRooms,0.326871,-0.153312,1.000000,0.847635,-0.004851,0.106361,-0.027501,0.151902
AveBedrms,-0.062031,-0.077742,0.847635,1.000000,-0.006182,0.069731,0.013335,-0.046690
AveOccup,0.018774,0.013194,-0.004851,-0.006182,1.000000,0.002369,0.002473,-0.023735
Latitude,-0.079941,0.011123,0.106361,0.069731,0.002369,1.000000,-0.924661,-0.144289
Longitude,-0.015028,-0.108141,-0.027501,0.013335,0.002473,-0.924661,1.000000,-0.045837
Price,0.688000,0.105536,0.151902,-0.046690,-0.023735,-0.144289,-0.045837,1.000000